<html>
  <head>
    <title>{% block title %}django-url-shortener{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    {% block extra_head %}{% endblock %}
    {% block extra_css %}{% endblock %}
  </head>

  <body>
    <div class="container">
      <h1><a href="{% url index %}">{{ request.META.HTTP_HOST }}</a></h1>
      <hr/>
      {% block content %}{% endblock %}

      {% block url_form %}
        {% include 'form.inc.html' %}
      {% endblock %}
      {% block bookmarklet %}
      <br/>
      {% endblock %}

    {% block extra_body %}{% endblock %}
    </div>
    {% block extra_js %} {% endblock %}
  </body>
</html>
